body{
    font-family: 'Open Sans';
    font-style:  italic;
    font-weight: 500;
    font-stretch: normal;
}
.titleclass{
    text-align: center;
    color: darkblue;
    font-size: x-large;

#UpperText{
    color : darkblue  ;
     
}}
.cell{
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}
.container{
    height: 300px;
    width: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
   
    
    
}
.mainContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.cell:hover{

    background-color: black;
}

